[submodule "packages/contracts/lib/solidity-stringutils"]
	path = packages/contracts/lib/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils
[submodule "packages/contracts/lib/solidity-bytes-utils"]
	path = packages/contracts/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "lib/solidity-bytes-utils"]
	branch = v0.8.0
[submodule "packages/contracts/lib/solady"]
	path = packages/contracts/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/solady"]
	branch = v0.0.75
